ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.cursor-pointer {
  cursor: pointer;
}

.fh-25 {
  height: 25vh;
}
.fh-50 {
  height: 50vh;
}
.fh-75 {
  height: 75vh;
}
.fh-100 {
  height: 100vh;
}

#ytslist{
  scroll-behavior: smooth;
}
