ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.cursor-pointer {
  cursor: pointer;
}

.fh-25 {
  height: 25vh;
}
.fh-50 {
  height: 50vh;
}
.fh-75 {
  height: 75vh;
}
.fh-100 {
  height: 100vh;
}
.fw-25 {
  width: 25vw;
}
.fw-50 {
  width: 50vw;
}
.fw-75 {
  width: 75vw;
}
.fw-100 {
  width: 100vw;
}

#ytslist{
  scroll-behavior: smooth;
}

.sdf{
  color: #1d1d1d;
}